body {
    font-family: sans-serif;
    background: #eee;
}

a, h1, h2 {
    color: #107fc9;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.page {
    margin: 2em auto;
    width: 70em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}
